@font-face {
 font-family: "Dancing Script";
 src: url("../police/Dancing_script/DancingScript-Bold.ttf") format("truetype"),
      url("../police/Dancing_script/DancingScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Potra";
  src: url("../police/Potra/Potra.ttf") format("truetype");
}

body {
  background-color: #252525;
  display: flex;
  flex-direction: column;
}

.Titre { /* représente le titre de chaque page */
  font-family: "Potra";
  margin-left: -8px;
  padding-right: 16px;
  width: 100%;
  color: #F3C562;
  left:0;
  right:0;
  text-align: center;
  font-size: 400%;
  margin-top: 100px;
  margin-bottom: 2%;
}

a {
  text-decoration: none;
}


header {
  z-index: 1;
  opacity: 0.8;
  position: fixed;
  top:0;
  left : 0;
  width: 100%;
  display: flex;
  border: 19px #2582FA solid;
  background-color: #2582FA;
  justify-content: space-around;
  align-items: baseline;
  font-family: "Dancing Script", "Verdana", "Comic Sans MS";
  font-size: 27px;
}

header div {
  display: none;
}

#Logo_1 {
  width: 20px;
}

#Logo_2 {
  width: 15px;
}

#Logo_3 {
  width: 12px;
}

#Logo_4 {
  width: 20px;
  background-color: white
}


.Not_Here:hover {

  text-decoration: black underline;
  color: #FFFFD0;
}

.Here {
  color: orange;
  text-decoration : black underline;
}

.Not_Here {
  color: white;
  text-decoration-line: none;
}

#go_top {
  opacity: 0.7;
  position: fixed;
   width: 50px;
   height: 50px;
   bottom: 100px;
   right: 30px;
 }
 #go_top:hover {
   opacity: 1;
 }


 #go_top img {
  transform: rotate(180deg);
  width: 50px;
}

 footer {
  margin: -8px;
  display: flex;
  border: 20px black solid;
  background-color: black;
  color: grey;
  justify-content: space-around;
  font-family: "Verdana", "Comic Sans MS";
}

footer img {
  border: 2px white solid;
  background-color: white;
  width: 10em;
}

.link { /* représente les liens se situant dans le bas de page */
  text-decoration: none;
  color: grey;
}

.link:hover {
  color : #A6A6A6;
}
