@keyframes animation { /* Animation qui affiche tout les éléments en une opacité faible pour ensuite la rendre normale */
  from {opacity: 0.4}
  to {opacity: 1}
}

.Cadre_Contact {
	animation-name: animation;
  animation-duration: 1.5s;
	border-top: 1px #FFB66D solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	font-size: 40px;
	background-color: white;
}

.Cadre_Contact .Titre {
	color: black;
}

.Cadre_Contact .list_contact_img, .Cadre_Contact .list_contact_txt {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.Cadre_Contact .taille {
  max-width: 40px;
}

.Cadre_Contact .img_txt img {
  max-width: 50px;
}

#Contacter {
  font-size: 70px;
}

.Cadre_Contact .bloc_contact img {
	max-width: 40px;
}

.Cadre_Contact .bloc_contact a {
	text-decoration: 2px black underline;
}

.Cadre_Contact .bloc_contact p {
	font-size: 20px;
	color: black;
}
