@keyframes animation { /* Animation qui affiche tout les éléments en une opacité faible pour ensuite la rendre normale */
  from {opacity: 0.4}
  to {opacity: 1}
}

.Cadre_CV {
	background-color: #EBEBEB;
	padding-right: -10px;
	animation-name: animation;
  animation-duration: 1.5s;
}

#Moi {
  color: black;
}

.Cadre_CV h4 {
	font-size: 40px;
	color: #363636;
}

.Cadre_CV .link_CV {
	text-align: center;
	margin: auto;
}

.Cadre_CV .link_CV a {
	border: 2px black solid;
	color : black;
	font-size: 30px;
  background-color: none;
  border-radius: 5px;
}

.Cadre_CV .link_CV a:hover {
  color : white;
  background-color: black;
  border-color : black;
}
.Cadre_CV .bloc_cursus {
	display: flex;
	flex-direction: column;
}

.Cadre_CV .cursus {
	background-color: white;
	box-shadow: 0px 0px 3px black;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}

.Cadre_CV .cursus .name_cursus {
	font-size: 30px;
	color : #047A1F;
}

.Cadre_CV .cursus b {
	font-size: 33px;
	color: white;
	background-color: #9C9C9C;
	border-radius: 5px;
	border: 3px #9C9C9C solid;
}

.Cadre_CV .cursus p {
	color: #5A5959;
	font-size: 13px;
}

.Cadre_CV .list_bloc {
  display: flex;
  justify-content: space-around;

  margin-bottom: 50px;
}

.Cadre_CV .bloc {
}

.Cadre_CV td {
	font-size: 20px;
}
