@font-face {
 font-family: "Dancing Script";
 src: url("../police/Dancing_script/DancingScript-Bold.ttf") format("truetype"),
      url("../police/Dancing_script/DancingScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Potra";
  src: url("../police/Potra/Potra.ttf") format("truetype");
}

body {
  background-image: linear-gradient(rgba(48, 65, 86, 0.8), rgba(48, 65, 86, 0.8)), url("../image/index/background2.png");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.Titre { /* représente le titre de chaque section de la page */
  font-family: "Potra";
  margin-left: -8px;
  padding-right: 16px;
  width: 100%;
  color: #F3C562;
  left:0;
  right:0;
  text-align: center;
  font-size: 400%;
  margin-top: 100px;
  margin-bottom: 2%;
}

a {
  text-decoration: none;
}


header {
  z-index: 1;
  position: fixed;
  top:0;
  left : 0;
  width: 100%;
  display: flex;
  border: 19px #2582FA solid;
  background-color: #2582FA;
  justify-content: space-around;
  align-items: baseline;
  font-family: "Dancing Script", "Verdana", "Comic Sans MS";
  font-size: 27px;
}

header div {
  display: none;
}

#Logo_1 {
  width: 20px;
}

#Logo_2 {
  width: 15px;
}

#Logo_3 {
  width: 12px;
}

#Logo_4 {
  width: 20px;
  background-color: white
}


.nav-title:hover {
  color: #939393;
}

.nav-title {
  color: white;
  text-decoration-line: none;
}

 footer {
   font-size: 10px;
  margin: -8px;
  display: flex;
  border: 20px black solid;
  background-color: black;
  color: grey;
  justify-content: space-around;
  font-family: "Verdana", "Comic Sans MS";
}

.link { /* représente les liens se situant dans le bas de page */
  text-decoration: none;
  color: grey;
}

.link:hover {
  color : #A6A6A6;
}
