@font-face {
  font-family: "Logoplexi";
  src: url("../police/Logoplexi/Logoplexi-Regular.otf") format("truetype"),
       url("../police/Logoplexi/Logoplexi-Regular.ttf") format("truetype");
}

@keyframes animation { /* Animation qui affiche tout les éléments en une opacité faible pour ensuite la rendre normale */
  from {opacity: 0.4}
  to {opacity: 1}
}


/* gestion emplacement cadre */
.Cadre_Project {
	background-color: rgba(0, 0, 0, 0.4);
}

.Cadre_Project .list_title_project {
	display: flex;
	justify-content: space-around;
	border-bottom: 2px #F59F8C solid;
}

.Cadre_Project .title_project {
	color: #859ADA;
	font-size: 30px;
}

.Cadre_Project .title_project:hover {
	color: #3353B1;
}

.Cadre_Project .description_project {
	display: none;
}


.Cadre_Project .visible {
	color: #3353B1;
	text-decoration: 2px #3353B1 underline;
}

/* Pour chaque Slide */

.Cadre_Project .Contenu_Slide { /* Correspond à un slide */
  display: none;
  animation-name: animation;
  animation-duration: 1.5s;
}

.Cadre_Project .Contenu_Slide img { /* Toutes images dans chaqu'un des slides */
  position: relative;
}

.Cadre_Project h2 {
  text-align: center;
  color : #F3C562;
  font-family: "Logoplexi", "Comic Sans MS";
}

.Cadre_Project h4 {
  text-align: center;
  color : #F3C562;
}


.Cadre_Project aside { /* représente les éléments mis à droite des autres */
  float: right;
  margin-left: 1%;
}

.Cadre_Project .texte {
  line-height: 2em;
  color : white;
  text-align: center;
  font-size: 20px;
}

.Cadre_Project .texte2 {
  font-size: 30px;
}

.Cadre_Project .all_text_TPE {
  display: flex;
  justify-content: space-between;
}

.Cadre_Project .TPE_aside {
  padding-left: 1%;
  right : 0;
  text-align: right;
}

#TPE_texte_right {
  border-left: 2px black solid;
}


/* Pour le slide Blocus */

#img_blocus { /* image utilisé dans le slide blocus */

  width :100%;
}

/* Pour le slide du TPE */

.bloc_img_TPE {
  display: flex;
  justify-content: center;
}

#img_TPE { /* image utilisé dans le slide TPE */
  width:50%;
}

.Cadre_Project .link_git {
  color : white;
  background-color: none;
  border: 2px black solid;
  border-radius: 5px;
}

.Cadre_Project .link_git:hover {
  color : black;
  background-color: white;
  border-color : white;
}

/* pour le slide "Candycrush Lite" */

#java_game_aside {
  display: flex;
  flex-direction: column;
}

.Cadre_Project .video_img {
  display: flex;
  justify-content: space-around;
  margin : auto;
}

.Cadre_Project .video_img img {
  width: 25%;
}

.Cadre_Project .bloc_down {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Cadre_Project .bloc_down p {
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border: 2px black solid;
  font-size: 20px;
  margin : auto;
}

.Cadre_Project .img_error {
  max-width: 500px;
  margin: auto;
}
