.Cadre_Contact .list_contact {
  display: flex;
  flex-direction: row;
}


.Cadre_Contact .bloc_contact p {
	font-size: 25px;
}

.Cadre_Contact .list_contact_img, .Cadre_Contact .list_contact_txt {
  flex-direction: column;
}
